<h1> All users </h1>

<%= link_to 'Create New User', new_user_path %>

<% @users.each do |user| %>
<h2> <%= user.full_name %>  </h2>
<%= link_to 'Edit User', edit_user_path(user)%>
<%= link_to 'Show User', user_path(user)%>
<%= link_to 'Delete User', user, method: :delete %>
<% end %>